
/*
container é a tag pai
flex-direction = sentido do flex
justify-content = alinhamento dos elementos do container no eixo principal
align-itens = alinha os elementos no eixo perpendicular
flex-wrap = quebra de linha (padrão no wrap)
align-content = alinhar os elementos em mais de uma linha
gap = coloca espaço entre os elementos em todos os lados
gap
row-gap
column-gap

NOS ELEMENTOS FILHO
order = 0 -> padrão Ordena os blocos. Os números podem ser negativos
flew-grow = pode ou não crescer. Cresce em proporção.
flex-shrink = pode ou não encolher. 
flex-basis = define largura 
flex = agrega grow/shrink/basis
align-self = alinha um único elemento

Jogos para treinar
https://flexboxfroggy.com/#pt-br
https://mastery.games/flexboxzombies/...
https://www.flexboxdefense.com

*/

:root {
    --tamanho: 150px;
    --altura: 100px;
    --titulo_principal: flexbox - CSS Flexbox
    --titulo_secundario: Alinhamento de Blocos com Flexbox;
    --texto: 200px;
    --texto_secundario: 15px;
    --preenchimento: 16px;
    --cor_fundo: rgba(0, 0, 0, 0);
}


.container {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    row-gap: 10px;
    column-gap: 30px;

    /* INDIFERENTE */
    padding: 40px;
    height: 100px;
}

.bloco-1 {
    background-color: rgb(255, 0, 0);
    padding: 15px;
    width: 50px;
    flex-grow: 0;
    flex-shrink: 1;
    
}

.bloco-2 {
    background-color: rgb(184, 18, 18);
    padding: 15px;
    width: 50px;
    flex-grow: 0;
    flex-shrink: 1;
}

.bloco-3 {
    background-color: rgb(226, 119, 19);
    padding: 15px;
    width: 50px;
    flex-grow: 0;
    flex-shrink: 1;
}

.bloco-4 {
    background-color: rgb(219, 223, 11);
    padding: 15px;
    width: 50px;
}

.bloco-5 {
    background-color: rgb(114, 207, 70);
    padding: 15px;
    width: 50px;
}

.bloco-6 {
    background-color: rgb(52, 156, 31);
    padding: 15px;
    width: 50px;
}

.bloco-7 {
    background-color: rgb(7, 233, 222);
    padding: 15px;
    width: 50px;
}

.bloco-8 {
    background-color: rgb(46, 139, 201);
    padding: 15px;
    width: 50px;
}

.bloco-9 {
    background-color: rgb(16, 35, 212);
    padding: 15px;
    width: 50px;
}

.bloco-10 {
    background-color: rgb(93, 47, 219);
    padding: 15px;
    width: 50px;
}

.bloco-11 {
    background-color: rgb(142, 15, 245);
    padding: 15px;
    width: 50px;
}

.bloco-12 {
    background-color: rgb(197, 67, 214);
    padding: 15px;
    width: 50px;
}

.bloco-13 {
    background-color: rgb(219, 110, 214);
    padding: 15px;
    width: 50px;
}

.bloco-14 {
    background-color: rgb(219, 171, 194);
    padding: 15px;
    width: 50px;
}

.bloco-15 {
    background-color: rgb(228, 215, 215);
    padding: 15px;
    width: 50px;
}

.bloco-1, .bloco-2, .bloco-3, .bloco-4,
.bloco-5, .bloco-6, .bloco-7, .bloco-8,
.bloco-9, .bloco-10, .bloco-11, .bloco-12,
.bloco-13, .bloco-14, .bloco-15 {
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}